<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tinkoff.tourism.dao.RouteRepository">

    <select id="getRoute" parameterType="tinkoff.tourism.controller.dto.RouteRequest" resultMap="SightMap">
        SELECT *
        FROM sights
        <![CDATA[
        WHERE sights.price <= #{budget} AND
              sights.open_time <= #{endTime} AND sights.close_time >= #{startTime} AND
            sights.type IN
        ]]>
            <foreach item="item" index="index" collection="categories" open="(" separator="," close=")">
            #{item}
            </foreach>
        ORDER BY sights.open_time, sights.close_time
    </select>

    <resultMap id="SightMap" type="tinkoff.tourism.model.sights.Sight">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="coordinateX" column="x_coordinate"/>
        <result property="coordinateY" column="y_coordinate"/>
        <result property="description" column="description"/>
        <result property="siteLink" column="site_link"/>
        <result property="openTime" column="open_time"/>
        <result property="closeTime" column="close_time"/>
        <result property="price" column="price"/>
    </resultMap>

</mapper>